.orcamento-custeio-highlight {
    background: #ffc8aa;
    border-radius: 6px;
    padding: 2px 6px;
    display: inline-block;
}
.orcamento-investimento-highlight {
    background: #bfe1f6;
    border-radius: 6px;
    padding: 2px 6px;
    display: inline-block;
}